<div>
  <h2> Voti ministerio </h2>
  <% if current_user.admin? or current_user.editor? %>
  <br><br><br>
  <h5> Caricare file coi voti del ministerio </h5>
    <%=form_tag import_gradesmins_path, multipart: true do %>
      <%=file_field_tag :file%>
      <%=submit_tag "Carica"%>
    <%end%>
  <%end%>
</div>

<hr>


<table>
  <thead>
    <th>Area</th>
    <th>Anno di corso</th>
    <th>Voti minimo</th>
  </thead>

  <tbody>
    <%@gradesmins.each do |gradesmin|%>
      <tr>
        <td><%=gradesmin.area %></td>
        <td><%=gradesmin.year%></td>
        <td><%=gradesmin.grades%></td>
      </tr>
    <%end%>
  </tbody>

</table>
