<%= form_with(model: student) do |form| %>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
      <div>
        <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
          students_path %>
        <h3>Studenti</h3>
        <%= link_to fa_icon('pencil', style: "font-size: 1.5em;color:rgb(28,163,184)"),
          edit_student_path(@student), data: { turbo: false }  %>
        <hr>
      </div>


			<!-- Form START -->
			<form class="file-upload">
				<div class="row mb-5 gx-5">
					<!-- Contatto -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Informazione di contatto</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">Nome *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="Last name" <%= form.text_field :name %>
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Cognome *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="Last name" <%= form.text_field :lastname %>
								</div>
								<!-- Mobile number -->
								<div class="col-md-6">
									<label class="form-label">Telefono cellulare *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="Phone number" <%= form.text_field :phone_number %>
								</div>
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control-non-editable" id="inputEmail4" <%= form.text_field :email %>
								</div>
							</div> <!-- Row END -->
						</div>
					</div>

					<!-- Upload profile -->
					<div class="col-xxl-4">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Carica la foto</h4>
								<div class="text-center">
									<!-- Image upload -->
									<div class="position-relative display-2 mb-3">
                    <div >
											<% if student.profile_picture.present? %>
						            <%= link_to image_tag(student.profile_picture, style:"width:105px; height:105px", class: 'list_image'), student %>
						          <% else %>
						            <%= if student.gender == "Studente" then link_to image_tag('male.jpg',  style:"width:105px; height:105px", class: 'list_image'),student end %>
						            <%= if student.gender == "Studentessa" then link_to image_tag('female.jpg',  style:"width:105px; height:105px", class: 'list_image'),student end %>
						            <%= if student.gender == "non specificato" then link_to image_tag('unspecified.jpg',  style:"width:105px; height:105px", class: 'list_image'),student end %>
						          <% end %>
										</div>
                	</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->

				<!-- Personal information -->
				<div class="row mb-5 gx-5">
					<div class="col-xxl-6 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Informazione personale</h4>
                <!-- Codice fiscale -->
								<div class="col-md-6">
									<label class="form-label">Codice fiscale *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="Phone number" <%= form.text_field :id_number %>
								</div>
								<!-- Birthday -->
								<div class="col-md-6">
									<label class="form-label">Data di nascita *</label>
									<input class="form-control-non-editable" placeholder="" <%= form.date_field :birthdate, placeholder: 'DD/MM/YYYY' %>
								</div>
								<!-- Country -->
								<div class="col-md-6">
									<label class="form-label">Nazionalità *</label>
									<input class="form-control-non-editable"  <%= form.text_field :country_of_birth %>
								</div>
								<!-- Gender -->
								<div class="col-md-6">
									<label class="form-label">Genere *</label>
                  <input class="form-control-non-editable"  <%= form.text_field :gender %>
                </div>
							</div> <!-- Row END -->
						</div>
					</div>


					<!-- Actividades-->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-4 rounded">
							<div class="row g-3">
								<h4 class="my-4">Attività</h4>

                <!-- Inscritas -->
								<div class="col-md-6">
									<label class="form-label">Iscritte </label>
									<% @student.user.activities.each do |activity| %>
					          <li><%= activity.name %></li>
					        <% end %>
								</div>

								<!-- Frecuentadas -->
								<div class="col-md-6">
									<label class="form-label">Frequentate </label>
									<% @student.activities.each do |activity| %>
					          <li><%= activity.name %></li>
					        <% end %>
								</div>

							</div>
						</div>
					</div>
				</div> <!-- Row END -->

			</div>
		</div>
	</div> <!-- Row END -->


  <% end %>
