<h3>Soggiorni di </h3>
<h1> <%= @student.display_fullname %> </h1>

<p>
  Azioni:
  <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 1.5em; color:rgb(28,163,184)"),
      students_path  %>
  <%= link_to fa_icon('plus', text: "", style: "font-size: 2.5em; color:rgb(28,163,184)"),
    new_stadia_path(@student), data: { turbo: false } %>
</p>
<hr>

<table class="table" style="text-align: center;">
  <thead>
      <tr>
        <th style="width:6%;"><span> Anno </span></th>
        <th style="width:1%;"><span> Data inizio </span></th>
        <th style="width:1%;"><span> Data fine </span></th>
        <th style="width:10%;"><span> Classe </span></th>
        <th style="width:1%;"><span> Partecipazione </th>
        <th style="width:1%;"><span> Voti annuali </th>
        <th style="width:1%;"><span> Voti carriera </th>
        <th style="width:1%;"><span> Anno iscriz. </span></th>
        <th style="width:1%;"><span> Retta annuale </span></th>
        <th style="width:4%;"><span> Mesi di sogg. </span></th>
        <th style="width:1%;"><span> Camere </span></th>
        <th style="width:2%;"><span> Riduz. retta? </span></th>
        <th style="width:2%;"><span> Borsa INPS? </span></th>
        <th style="width:1%;"><span> Nuovo? </span></th>
        <th style="width:1%;"><span> Esami? </span></th>
        <th style="width:1%;"><span> Ore d'attività </th>
        <th style="width:5%;"><span> Azioni </th>
        <th style="width:10%"><span> Scarica </th>
      </tr>
  </thead>

  <tbody id="students" class="text-center">

    <tr>
      <% @stays.order(hosting_end_date: :desc).each do |stay| %>

        <!-- Los camnpos -->
        <!-- La l minúscula de las fechas es para que por defecto use el formato que yo definí en  config/locales/en.yml -->
        <td> <%= stay.acyear.name %> </td>
        <td> <%= l stay.hosting_start_date if stay.hosting_start_date%> </td>
        <td> <%= l stay.hosting_end_date if stay.hosting_end_date%> </td>
        <td> <%= stay.kind if stay.kind %> </td>

        <!-- Semaforo Attendance -->
        <td class="text-center">
          <% if stay.perc_attendance %>
            <% mostrar = stay.hours_attended.to_s + "h, " + number_to_percentage(stay.perc_attendance*100, precision: 0).to_s %>
          <% else %>
            <% mostrar = stay.perc_attendance.to_s + "h, " %>
          <% end %>

          <span class="badge rounded-pill bg-danger" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= mostrar if stay.attendance_status == 'insufficiente' %></span>
          <span class="badge rounded-pill bg-warning" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= mostrar if stay.attendance_status == 'buono'  %></span>
          <span class="badge rounded-pill bg-success" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= mostrar if stay.attendance_status == 'ottimo' %></span>
          <span class="badge rounded-pill bg-dark" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= 'NA' if stay.attendance_status == 'NA' %></span>
          <br>
          <span class="student-subhead"> min: <%= stay.min_hours_required.round(0) %>h</span>
        </td>

        <!-- Semaforo PeriodGrades -->
        <td class="text-center">
          <span class="badge rounded-pill bg-danger" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.periodgrades.round(2) if stay.periodgrades_status == 'insufficiente' and (stay.examfree == false or not stay.examfree?) %></span>
          <span class="badge rounded-pill bg-warning" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.periodgrades.round(2) if stay.periodgrades_status == 'buono' and (stay.examfree == false or not stay.examfree?) %></span>
          <span class="badge rounded-pill bg-success" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.periodgrades.round(2) if stay.periodgrades_status == 'ottimo' and (stay.examfree == false or not stay.examfree?) %></span>
          <span class="badge rounded-pill bg-dark" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.periodgrades_status if stay.periodgrades_status == 'NA' and (stay.examfree == false or not stay.examfree?) %></span>
          <span class="badge rounded-pill bg-success" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= 'NA' if stay.examfree == true %></span>
          <br>
          <span class="student-subhead"> min: <%= stay.gradesmin %></span>
        </td>


        <!-- Semaforo CumulativeGrades -->
        <td class="text-center">
          <span class="badge rounded-pill bg-danger" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.cumulativegrades.round(2) if stay.cumulativegrades_status == 'insufficiente' %></span>
          <span class="badge rounded-pill bg-warning" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.cumulativegrades.round(2) if stay.cumulativegrades_status == 'buono' %></span>
          <span class="badge rounded-pill bg-success" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.cumulativegrades.round(2) if stay.cumulativegrades_status == 'ottimo'%></span>
          <span class="badge rounded-pill bg-dark" style="height:auto;padding:10px; width:80px; font-size:1em;"><%= stay.cumulativegrades_status if stay.cumulativegrades_status == 'NA' %></span>
          <br>
          <span class="student-subhead"> min: <%= stay.gradesmin %></span>
        </td>


        <td> <%= stay.year_enrollment if stay.year_enrollment %> </td>
        <td> <%= stay.annualfee if stay.annualfee %> </td>
        <td> <%= stay.months if stay.months %> </td>
        <td>
          <%= link_to stay.locations.count, locationstudent_path(@student) %>
          <%= link_to image_tag('door.png', width: "20", height: "25"),new_location_path(@student), data: { turbo: false } %>
        </td>
        <td> <%= if stay.fee_reduction_request then human_boolean(stay.fee_reduction_request) else 'no' end %> </td>
        <td> <%= if stay.grant then human_boolean(stay.grant) else 'no' end  %> </td>
        <td> <%= if stay.firsttime then human_boolean(stay.firsttime) else 'no' end %> </td>
        <td>
          <% if stay.examfree %>
            <%= if stay.examfree == true then 'no' end %>
            <%= if stay.examfree == false then 'sì' end %>
          <% else %>
            <%= 'sì' %>
          <% end %>
        </td>

        <td><%= link_to stay.hours_attended, studentactivities_stay_path(stay) %></td>

        <td>
          <%= link_to fa_icon('search-plus', style: "font-size: 1.5em; color:rgb(28,163,184)"),stay %>
          <%= link_to fa_icon('pencil', style: "font-size: 1.5em;color:green"), edit_stay_path(stay)%>
          <%= link_to fa_icon('trash', style: "font-size: 2em; color: Tomato;"),
            stay, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Sei sicuro di rimuovere questo soggiorno?" } %>
        </td>

        <td  style="text-align:left;">
          <%= link_to "Contratto in italiano", downloadcontractitalian_stay_path(stay) %>
          <br>
          <%= link_to "Progetto formativo", download_initial_libretto_stay_path(stay) %>
          <br>
          <%= link_to "Libretto finale", download_final_libretto_stay_path(stay) %>
        </td>


    </tbody>
    <% end %>

</table>
