<h3>Lezione di </h3>
<h1> <%= @student.lastname + ' ' + @student.name  %> </h1>

<p>
</p>

<table class="table student-list">
  <thead>
      <tr>
        <th><span> Attività </span></th>
        <th><span> Titolo </span></th>
        <th><span> Data </span></th>
        <th><span> Ore </span></th>
        <th><span> Data confermata? </span></th>
        <th><span> Tipo </span></th>
        <th><span> Formatori </span></th>
        <th><span> Contesto </span></th>
        <th><span> Totale iscritti </span></th>
        <th><span> Totale presenti </span></th>
        <th><span> Azioni </span></th>
      </tr>
  </thead>

  <tbody id="activities">
    <tr>
    <% @activities.each do |activity| %>
      <% courses_id = Activitycourse.where(activity_id: activity.id).pluck(:course_id) %>
      <% curso = Course.find_by(id: courses_id) %>
      <td> <%= link_to curso.name, curso if curso %> </td>
      <td> <%= link_to activity.name, activity %> </td>
      <td> <%= activity.activity_date.to_date.strftime("%d/%m/%y") %> </td>
      <td> <%= activity.duration %> </td>
      <td> <%= if activity.confirmed_date == true then 'sì' else 'no' end %> </td>
      <td> <%= activity.kind %> </td>

      <!-- Mostrar el nombre de los profesores -->
      <td>
        <%= activity.professor_fullname %>
      </td>

      <!-- actualizar el campo de cualificación agregada, por si cambió la cualificación de algún profesor -->
      <td> <%= activity.context %> </td>
      <td>
        <!-- cuenta la cantidad de estudiantes inscritos en cada actividad -->
        <%= activity.users.count %>
      </td>

      <td> <%= activity.students.count %></td>


      <td>
        <%= link_to fa_icon('user', style: "font-size: 1.5em; color:rgb(28,163,184)"),editattendance_path(activity) %>

        </td>
      </tbody>

  <% end %>
</table>
