<div >
  <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
    :back %>
  <h3>Profilo</h3>
</div>


<%= form_with(model: user) do |f| %>

    <!-- Nombre -->
    <div class="col-md-6">
      <label class="form-label" style="margin-top:3%;">Nome </label>
      <input type="text" class="form-control-non-editable" style="width: 60%;"
      <%= f.text_field :name %>
    </div>

    <!-- Apellido -->
    <div class="col-md-6">
      <label class="form-label" style="margin-top:3%;">Cognome </label>
      <input type="text" class="form-control-non-editable" style="width: 60%;"
      <%= f.text_field :lastname %>
    </div>

    <!-- Mail -->
    <div class="col-md-6">
      <label class="form-label" style="margin-top:3%;">Email </label>
      <input type="text" class="form-control-non-editable" style="width: 60%;"
      <%= f.text_field :email %>
    </div>


    <!-- Rol -->
    <div class="col-md-6">
      <label class="form-label" style="margin-top:3%;">Ruolo </label>
      <input class="form-control-non-editable" style="width: 60%;"
      placeholder="<%= @user.role.name %>"
    </div>

<% end %>
