<!DOCTYPE html>


<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>


        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->

                <!-- Students -->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                                <div class="feature mb-4 mt-n4">
                                  <%= link_to image_tag('students.png', width: "200", height: "200", alt: 'Students'),'/students' %>
                                </div>
                                <br><br><br>
                                <h2 class="fs-4 fw-bold">Studenti</h2>
                                <p class="mb-0">Visualizza, crea e modifica gli studenti</p>
                            </div>
                        </div>
                    </div>

                    <!-- Cursos -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                                <div class="feature mb-4 mt-n4">
                                  <%= link_to image_tag('courses.png', width: "200", height: "200", alt: 'Courses'), '/courses' %>
                                </div>
                                <br><br><br>
                                <h2 class="fs-4 fw-bold">Attività</h2>
                                <p class="mb-0">Visualizza, crea e modifica le attività e le lezioni</p>
                            </div>
                        </div>
                    </div>

                    <!-- Actividades -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                                <div class="feature mb-4 mt-n4">
                                  <%= link_to image_tag('activities.png', width: "200", height: "200", alt: 'Activities'), '/activities' %>
                                </div>
                                <br><br><br>
                                <h2 class="fs-4 fw-bold">Lezioni</h2>
                                <p class="mb-0">Visualizza e cancella le lezioni delle attività</p>
                            </div>
                        </div>
                    </div>

                    <!-- Professors -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                                <div class="feature mb-4 mt-n4">
                                  <%= link_to image_tag('professors.png', width: "200", height: "200", alt: 'Professors'), '/professors' %>
                                </div>
                                <br><br><br>
                                <h2 class="fs-4 fw-bold">Formatori</h2>
                                <p class="mb-0">Visualizza, crea e modifica i formatori </p>
                            </div>
                        </div>
                    </div>


                    <!-- Guests -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('guest.png', width: "200", height: "200", alt: 'Calenario'),'/guests' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Guests</h2>
                              <p class="mb-0">Visualizza, crea e modifica i guest </p>
                            </div>
                        </div>
                    </div>

                    <!-- Graduations -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('graduations.png', width: "200", height: "200", alt: 'Graduations'),'/graduations' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Voti di laurea</h2>
                              <p class="mb-0">Visualizza e modifica i voti di laurea degli studenti </p>
                            </div>
                        </div>
                    </div>

                    <!-- Mobility -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('mobilities.png', width: "200", height: "200", alt: 'Mobilities'),'/mobilities' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Mobilità</h2>
                              <p class="mb-0">Visualizza e modifica la mobilità degli studenti </p>
                            </div>
                        </div>
                    </div>

                    <!-- Locations -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('door.png', width: "200", height: "200", alt: 'Locations'),'/locations' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Alloggi</h2>
                              <p class="mb-0">Visualizza e modifica gi alloggi degli studenti </p>
                            </div>
                        </div>
                    </div>


                    <!-- Documents -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('documents.png', width: "200", height: "200", alt: 'Documenti'),'/documents' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Documenti</h2>
                              <p class="mb-0">Visualizza e scarica i documenti</p>
                            </div>
                        </div>
                    </div>

                    <!-- Reports -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('reports.png', width: "200", height: "200", alt: 'Documenti'),'/reports' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Report</h2>
                              <p class="mb-0">Scarica i report</p>
                            </div>
                        </div>
                    </div>

                    <!-- Calendar -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('calendar.png', width: "200", height: "200", alt: 'Calenario'),'/calendar' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Calendario</h2>
                              <p class="mb-0">Guarda le prossime lezioni</p>
                            </div>
                        </div>
                    </div>


                    <!-- Users -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('users.png', width: "200", height: "200", alt: 'Calenario'),'/users' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Utenti</h2>
                              <p class="mb-0">Visualizza, crea e modifica gli utenti</p>
                            </div>
                        </div>
                    </div>

                    <!-- AcYear -->
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-10">
                              <div class="feature mb-4 mt-n4">
                                <%= link_to image_tag('acyears.png', width: "200", height: "200", alt: 'Calenario'),'/acyears' %>
                              </div>
                              <br><br><br>
                              <h2 class="fs-4 fw-bold">Anni accademici</h2>
                              <p class="mb-0">Visualizza, crea e modifica gli anni accademici</p>
                            </div>
                        </div>
                    </div>

                  </div>
            </div>
        </section>

    </body>
</html>
