
<%= render 'documents/left_panel' %>

<!-- Panel derecho -->


<div class="" style="position: relative;top: -150px; left: 250px;width:80%">

  <table class="table student-list">

    <thead>
        <tr>
          <th><span>  </span></th>
          <th><span> Nome </span></th>
          <th><span> Seleziona file </span></th>
          <th><span> Carica </span></th>
          <th><span> Scarica </span></th>
        </tr>
    </thead>

    <tbody id="activities">

      <!-- contrato en italiano -->
      <tr>
      <td> <i class="fa fa-file-word-o" style="font-size: 30px; color:blue;"></i> </td>
      <td> Modello contratto studenti </td>
      <td>
        <label>
          <%=form_tag({action: :upload}, multipart: true) do %>
          <a class="btn btn-block btn-success" style="font-size: 14px;background-color: #fff;color:black;"> <i class="fa fa-plus"> </i> Trova file nel pc</a>
          <span style="display:none;">
            <%= hidden_field_tag :nombre, "contract_italian" %>
            <%= file_field_tag 'file' %>
          </span>
          <td> <%= submit_tag 'Carica!', class: "btn button-17 btn-xs", style: "height:25px; width:80px; border-radius: 10px;"%> </td>
          <% end %>
        </label>
      </td>
      <td>
        <% if File.exist?("#{Rails.root}/app/assets/templates/contract_italian.docx") %>
        <%= link_to "Scarica", download_model_italian_student_contract_documents_path %>
        <% else %>
          Manca file
        <% end %>
       </td>


       <!-- contrato en inglés -->
       <tr>
       <td> <i class="fa fa-file-word-o" style="font-size: 30px; color:blue;"></i> </td>
       <td> Student contract's model </td>
       <td>
         <label>
           <%=form_tag({action: :upload}, multipart: true) do %>
           <a class="btn btn-block btn-success" style="font-size: 14px;background-color: #fff;color:black;"> <i class="fa fa-plus"> </i> Trova file nel pc</a>
           <span style="display:none;">
             <%= hidden_field_tag :nombre, "contract_english" %>
             <%= file_field_tag 'file' %>
           </span>
           <td> <%= submit_tag 'Carica!', class: "btn button-17 btn-xs", style: "height:25px; width:80px; border-radius: 10px;"%> </td>
           <% end %>
         </label>
       </td>
       <td>
         <% if File.exist?("#{Rails.root}/app/assets/templates/contract_english.docx") %>
          <%= link_to "Scarica", download_model_english_contract_documents_path %>
         <% else %>
          Manca file
         <% end %>
       </td>

       <!-- Contrato con profesores -->
       <tr>
       <td> <i class="fa fa-file-word-o" style="font-size: 30px; color:blue;"></i> </td>
       <td> Modello contratto formatori </td>
       <td>
         <label>
           <%=form_tag({action: :upload}, multipart: true) do %>
           <a class="btn btn-block btn-success" style="font-size: 14px;background-color: #fff;color:black;"> <i class="fa fa-plus"> </i> Trova file nel pc</a>
           <span style="display:none;">
             <%= hidden_field_tag :nombre, "contract_professors_italian" %>
             <%= file_field_tag 'file' %>
           </span>
           <td> <%= submit_tag 'Carica!', class: "btn button-17 btn-xs", style: "height:25px; width:80px; border-radius: 10px;"%> </td>
           <% end %>
         </label>
       </td>
       <td>
         <% if File.exist?("#{Rails.root}/app/assets/templates/contract_professors_italian.docx") %>
         <%= link_to "Scarica", download_model_italian_professor_contract_documents_path %>
         <% else %>
           Manca file
         <% end %>
       </td>


    </tbody>
  </table>
</div>
