
<%= render 'documents/left_panel' %>

<!-- Panel derecho -->



<div class="" style="position: relative;top: -150px; left: 250px;width:80%">

  <table class="table student-list">

    <thead>
        <tr>
          <th><span>  </span></th>
          <th><span> Nome </span></th>
          <th><span> Seleziona file </span></th>
          <th><span> Carica </span></th>
          <th><span> Scarica </span></th>
        </tr>
    </thead>

    <tbody id="activities">

      <!-- Libreto iniziale de los estudiantes para el Ministerio -->
      <tr>
      <td> <i class="fa fa-file-word-o" style="font-size: 30px; color:blue;"></i> </td>
      <td> Modello libretto iniziale </td>
      <td>
        <label>
          <%=form_tag({action: :upload}, multipart: true) do %>
          <a class="btn btn-block btn-success" style="font-size: 14px;background-color: #fff;color:black;"> <i class="fa fa-plus"> </i> Trova file nel pc</a>
          <span style="display:none;">
            <%= hidden_field_tag :nombre, "libretto_iniziale" %>
            <%= file_field_tag 'file' %>
          </span>
          <td> <%= submit_tag 'Carica!', class: "btn button-17 btn-xs", style: "height:25px; width:80px; border-radius: 10px;"%> </td>
          <% end %>
        </label>
      </td>
      <td>
        <% if File.exist?("#{Rails.root}/app/assets/templates/final_libretto.docx") %>
         <%= link_to "Scarica", download_model_initial_libretto_documents_path %>
        <% else %>
          Manca file
        <% end %>
      </td>

       <!-- Libreto final de los estudiantes para el Ministerio -->
       <tr>
       <td> <i class="fa fa-file-word-o" style="font-size: 30px; color:blue;"></i> </td>
       <td> Modello libretto finale </td>
       <td>
         <label>
           <%=form_tag({action: :upload}, multipart: true) do %>
           <a class="btn btn-block btn-success" style="font-size: 14px;background-color: #fff;color:black;"> <i class="fa fa-plus"> </i> Trova file nel pc</a>
           <span style="display:none;">
             <%= hidden_field_tag :nombre, "final_libretto" %>
             <%= file_field_tag 'file' %>
           </span>
           <td> <%= submit_tag 'Carica!', class: "btn button-17 btn-xs", style: "height:25px; width:80px; border-radius: 10px;"%> </td>
           <% end %>
         </label>
       </td>
       <td>
         <% if File.exist?("#{Rails.root}/app/assets/templates/final_libretto.docx") %>
          <%= link_to "Scarica", download_model_final_libretto_documents_path %>
         <% else %>
           Manca file
         <% end %>
       </td>


       <!-- Voti studenti -->
       <tr>
       <td> <i class="fa fa-file-excel-o" style="font-size:  30px; color:green;"></i></td>
       <td> Media voti studenti </td>
       <td>
         <label>
           <%=form_tag({action: :upload}, multipart: true) do %>
           <a class="btn btn-block btn-success" style="font-size: 14px;background-color: #fff;color:black;"> <i class="fa fa-plus"> </i> Trova file nel pc</a>
           <span style="display:none;">
             <%= hidden_field_tag :nombre, "students_grades" %>
             <%= file_field_tag 'file' %>
           </span>
           <td> <%= submit_tag 'Carica!', class: "btn button-17 btn-xs", style: "height:25px; width:80px; border-radius: 10px;"%> </td>
           <% end %>
         </label>
       </td>
       <td>
         <% if File.exist?("#{Rails.root}/app/assets/templates/students_grades.csv") %>
         <%= link_to "Scarica", download_students_grades_documents_path %>
         <% else %>
           Manca file
         <% end %>
       </td>

    </tbody>
  </table>
</div>
