<%= form_with(model: professor) do |form| %>
  <% if professor.errors.any? %>
    <div style="color: red;font-size: 1em;">
      <%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:

      <ul>
        <% professor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="container">
<div class="row">
		<div class="col-12">

			<!-- Page title -->
			<div >
        <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
          professors_path %>
        <h3>Formatori</h3>
			  <hr>
		  </div>


			<!-- Form START -->
			<form class="file-upload">
				<div class="row mb-5 gx-5">

					<!-- Contatto -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-professor px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Informazione di contatto</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">Nome *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="First name" <%= form.text_field :name %>
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Cognome *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="Last name" <%= form.text_field :lastname %>
								</div>
								<!-- Mobile number -->
								<div class="col-md-6">
									<label class="form-label">Telefono cellulare *</label>
									<input type="text" class="form-control-non-editable" placeholder="" aria-label="Phone number" <%= form.text_field :phone_number %>
								</div>
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control-non-editable" id="inputEmail4" <%= form.text_field :email %>
								</div>
							</div> <!-- Row END -->
						</div>
					</div>

          <!-- Detalles -->
					<div class="col-xxl-4">
						<div class="bg-secondary-professor px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Dettagli</h4>
                <!-- Qualification -->
								<div class="col-md-6">
									<label class="form-label-non-editable">Qualifica *</label>
                  <textarea rows="5" cols="1" class="form-control-non-editable" style="width: 200%;" <%= form.text_area :qualification %>
								</div>
              </div>
						</div>
					</div> <!-- Row END -->

				</div>  <!-- Terminan los dos primeros módulos -->
				<!-- Personal information -->
				<div class="row mb-5 gx-5">
					<div class="col-xxl-6 mb-5 mb-xxl-0">
						<div class="bg-secondary-professor px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Informazione personale</h4>
                <!-- Codice fiscale -->
								<div class="col-md-6">
									<label class="form-label" style="width:150%;">Codice fiscale o numero di passaporto *</label>
									<input class="form-control-non-editable" style="width:150%;"<%= form.text_field :id_number %>
								</div>
							</div> <!-- Row END -->
						</div>
					</div>

			</form> <!-- Form END -->
		</div>
	</div>
	</div>

  <% end %>
