<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red;font-size: 1em;">
      <%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <div class="row">
  		<div class="col-12">
  			<!-- Page title -->
  			<div >
          <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
            courses_path %>
          <h3>Attività</h3>

          <!-- button -->
          <div class="">
            <br>
            <%= form.submit "Inviare attività",  :class => "btn btn-primary ", local: true, data: { turbo: false } %>
          </div>

  			  <hr>
  		  </div>

  			<!-- Información general -->
        <div class="row mb-1 gx-5" style="width:90%;">
  					<!-- Contatto -->
  					<div class="col-xxl-5 mb-5 mb-xxl-0">
  						<div class="bg-secondary-activity px-4 py-5 rounded">
  							<div class="row g-3">
  								<h4 class="mb-4 mt-0">Informazione generale</h4>
  								<!-- Título -->
  								<div class="col-md-6">
  									<label class="form-label">Argomento *</label>
                    <textarea id="course_name" rows="2" cols="1" class="form-control" style="width: 200%;" <%= form.text_area :name %>
  								</div>

                  <!-- Div para mejoras estéticas -->
                  <div>
  								</div>

  								<!-- Descripción -->
  								<div class="col-md-6">
  									<label class="form-label">Descrizione *</label>
  									<textarea rows="3" cols="1" class="form-control" style="width: 200%;" <%= form.text_area :description %>
  								</div>

                  <!-- Div para mejoras estéticas -->
                  <div>
  								</div>

                  <!-- Contexto -->
  								<div class="col-md-6">
  									<label class="form-label">Contesto *</label>
                    <select id='',type="text" class="form-control" <%= form.select :context, [["Nazionale", "N"], ["Internazionale", "I"]]  %>
  								</div>

                  <!-- tipo: no lo pueden ver los estudiantes-->
                  <div class="col-md-6">
                    <% if current_user.role.name == "Admin" %>
                  	 <label class="form-label">Tipologia (cambia tutte le lezioni)*</label>
                     <select id='',type="text" class="form-control" <%= form.select :typology, options_for_select($typology_list,selected: course.typology) %>
                    <% end %>
  								</div>

                  <!-- Costo: no lo pueden ver los estudiantes -->
                  <div class="col-md-6">
                    <% if current_user.role.name == "Admin" %>
                      <label for="inputEmail4" class="form-label" style="width: 150%;" >Costo per il Collegio (euro) *</label>
                      <input type="text" class="form-control-non-editable" value="<%= course.cost%>"
                    <% end %>
                  </div>
                </div>
              </div>
            </div>


            <div class="" style="position:relative; top:-590px; left:650px; width:90%;">
              <div class="bg-secondary-activity px-4 py-5 rounded">
                <div class="row g-3">
      						<h4 class="mb-4 mt-0">Incontri</h4>

                  <!-- Participación mínima -->
      						<div class="" style="display: inline-block">
                    <span>Partecipazione minima per studente *</span>
                    <input type="text" class="form-control-enlinea" style="width: 15%;" value = "<%= if course.min_attendance then (course.min_attendance*100).round(0) else 0 end %>"<%= form.text_field :min_attendance %>
                    <h5> % </h5>
      						</div>
                  <hr>

                  <div id="skillSet">
                    <table class="">
                      <thead>
                          <tr style="text-align:center">
                            <th style="width:30%"><span> Data </span></th>
                            <th style="width:10%"><span> Data confermata? </span></th>
                            <th style="width:20%"><span> Ore </span></th>
                            <%= render partial: "activityinfo", locals: {course: false} if !course.id %>
                          </tr>
                      </thead>
                    </table>

                    <!-- si se está modificando un curso se debe enviar la info para actualizar las actividades de dicho curso-->
                    <% if course.id  %>
                      <% @activities.each do |activity| %>
                        <table class="">
                          <tbody id="">

                            <!-- Fecha-->
                            <td style="width:30%">
                              <input type="text" class="form-control" style="width:100%;" value="<%= activity.activity_date.strftime('%d/%m/%Y %H:%M')%>"
                              <%= text_field_tag 'activity_dates[]' %>
                            </td>

                            <!-- Confirmed date-->
                            <!-- no fui capaz de hacer la data confermata como un check, porque los check no se envían en html cuando son False, un poblema enorme-->
                            <!-- en el div de más abajo (display: none) se capturta el ID de cada actividad para saber cuál hay que update en el courses_controller-->
                            <td style="width:10%">
                              <%if activity.confirmed_date == true then fechaconfirmada = 'sì' else fechaconfirmada = 'no' end %>
                              <select name="confirmed_dates[]" type="text" class="form-control"  <%= form.select(:confirmed_date, ["sì", "no"], selected: fechaconfirmada) %>
                            </td>

                            <!-- Duration-->
                            <td style="width:20%"> <input type="text" class="form-control" style="width:100%;" value="<%= activity.duration if activity.duration %>" <%= text_field_tag 'durations[]' %> </td>

                            <div style="display: none;">
                              <input value='<%= activity.id %>' <%= text_field_tag 'activityID[]' %>
                            </div>

                          </tbody>
                        </table>
                      <% end %>
                    <% end %>
                  </div>

                  <!-- Crear nuevas actividades: sólo si el curso es nuevo (es decir, el curso no tiene id porque si tiene lo estamos editando) -->
                  <a href="javascript:;" id="addNewTag">Creare un'altra lezione per quest'attività</a>

                </div>
              </div>


              <!-- Formatori -->
              <div class="row mb-5 gx-5" style="position:relative; top: -420px; left: 610px; width: 100%" >
                <div class="bg-secondary-activity px-4 py-5 rounded">
                  <div>
                    <div>
                    <h4>Formatori</h4>
                      <!-- Profesores -->
                      <div class="col-md-6">
                        <%= form.collection_check_boxes :professor_ids, Professor.order(:lastname, :name), :id, :name do |b|%>
                        <br>
                          <%= b.label(class: "check_box") do %>
                            <%= b.check_box(class: "check_box") %>
                            <%= b.object.lastname + " " + b.object.name %>
                          <% end %>
                        <% end %>
                        <br><br>
                        <%= link_to 'Creare nuovo professore', new_professor_path, data: { turbo: false } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div> <!-- Row END -->

<% end %>

<!-- acá se pega el form para crear una nueva actividad para este curso. Está escondido para no ser mostrado -->
<div style="display: none;" id="new_skills_form">
  <%= render partial: "activityinfo", local: true %>
</div>
