<%= form_with(model: graduation) do |form| %>
  <% graduation = Graduation.find(params[:id]) %>
  <% stay = Stay.find_by_id(graduation.stay_id) %>
  <% student = Student.find_by_id(stay.student_id) %>

  <div class="container">
    <div class="row">
  		<div class="col-12">
  			<!-- Page title -->
  			<div >
          <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
            graduations_path, data: { turbo: false }  %>
          <h3>Voto finale di laurea di di</h3>
          <h2><%= student.display_fullname %></h2>
          <%= link_to fa_icon('pencil', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
            edit_graduation_path(graduation) %>
          <br><br>
  			  <hr>
  		  </div>

			<!-- Información general -->
				<div class="">
					<!-- Contatto -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-activity px-4 py-5 rounded">
							<div class="row g-3">
                <div class="">
                  <label class="form-label">Classe *</label>
                  <% grad = Graduation.find(params[:id]) %>
                  <% stay = Stay.find_by_id(grad.stay_id) %>
                  <select id='' type="text" class="form-control-non-editable" <%= form.select :kind, [stay.kind]  %>
                </div>

                <div class="col-md-6">
                  <table style="width:200%;">
                    <tr>
                      <!-- Graduation date -->
                      <td style="width:50%;">
                        <label class="form-label">Data laurea *</label>
                        <%= form.date_field :graduation_date, class: 'form-control-non-editable',placeholder: 'DD/MM/YYYY' %>
                      </td>

                      <td style="width:30%;padding-left:7%">
                        <label class="form-label">Voti laurea</label>
                        <input type="text" class="form-control-non-editable" style="width: 90%;" placeholder= "" <%= form.text_field :grades %> </input>
                      </td>
                      <td style="width:70%;padding-top:3%">
                        <label class="form-label">lode?</label>
                        <%= form.check_box :lode, checked: @graduation.lode,:disabled => true %>
                        <br>
                        <label class="form-label">encomio?</label>
                        <%= form.check_box :encomio, checked: @graduation.encomio,:disabled => true  %>
                      </td>
                    <tr>
                  </table>
                </div>



							</div> <!-- Row END -->
						</div>
					</div>
				</div>  <!-- Terminan los dos primeros módulos -->


  		</div><!-- Form END -->
  	</div>
  </div>
<% end %>
