<table class="">
  <tbody id="activities">
    <tr>
      <td style="padding: 15px;">
        <%= link_to fa_icon('arrow-left', text: "", style: "font-size: 2em; color:rgb(28,163,184)"),
          :back %>
          <h1>Lezione</h1>
        </td>
      <td style="width: 80%; padding: 15px;">
        <h6> Cerca per titolo </h6>
        <h6> <%= link_to "(cerca tutti)", activities_path %></h6>
        <%= form_with url: search_activities_path, method: :post do |form| %>
          <%= form.search_field :activityname_search, oninput: "this.form.requestSubmit()", class:"form-control", style:"display: table-cell;width: 100%;" %>
        <% end %>
      </td>

    <tr>
      <td style="padding: 15px;"></td>
      <td style="padding: 15px;">
        <div id="search_activities_results"></div>
      </td>

  </tbody>
</table>



<table class="table student-list">
  <thead>
      <tr>
        <th><span> Attività </span></th>
        <th><span> Titolo </span></th>
        <th><span> Data </span></th>
        <th><span> Ore </span></th>
        <th><span> Data confermata? </span></th>
        <th><span> Tipo </span></th>
        <th><span> Formatori </span></th>
        <th><span> Costo </span></th>
        <th><span> Contesto </span></th>
        <th><span> Totale iscritti </span></th>
        <th><span> Totale presenti </span></th>
        <th><span> Azioni </span></th>
      </tr>
  </thead>

  <tbody id="activities">
    <tr>
    <% @activities.each do |activity| %>
      <% courses_id = Activitycourse.where(activity_id: activity.id).pluck(:course_id) %>
      <% curso = Course.find_by_id(courses_id) %>
      <% anno = Acyear.find_by_id(activity.acyear_id) %>
      <td> <%= link_to curso.name, curso if curso %> </td>
      <td>
        <% if activity.subtitle %>
          <%= if activity.subtitle.length > 0 then link_to anno.name + ' - '+activity.subtitle, activity else link_to activity.name, activity end %>
        <% else %>
        <%= link_to anno.name + ' - ' + activity.name, activity %>
        <% end %>
      </td>

      <td> <%= activity.activity_date.to_date.strftime("%d/%m/%y") %> </td>
      <td> <%= activity.duration %> </td>
      <td> <%= if activity.confirmed_date == true then 'sì' else 'no' end %> </td>
      <td> <%= activity.kind %> </td>

      <!-- Mostrar el nombre de los profesores -->
      <td>
        <%= activity.professor_fullname %>
      </td>

      <td> <%= activity.cost %> </td>
      <td> <%= activity.context %> </td>
      <td>
        <!-- cuenta la cantidad de estudiantes inscritos en cada actividad -->
        <%= activity.users.count %>
      </td>

      <td> <%= activity.students.count %></td>


      <td>
        <%= link_to fa_icon('user', style: "font-size: 1.5em; color:rgb(28,163,184)"),editattendance_path(activity) %>
        <%= link_to fa_icon('pencil', style: "font-size: 1.5em;color:rgb(28,163,184)"), edit_activity_path(activity) %>
        <%= link_to fa_icon('trash', style: "font-size: 2em; color: Tomato;"),
          activity, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Sei sicuro di rimuovere questa lezione?" }%>

        </td>
      </tbody>

  <% end %>
</table>
